@tailwind base;
@tailwind components;
@tailwind utilities;



/* Microsoft Edge / Internet Explorer */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Chromium browsers (Chrome/Edge) */
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
}